// Colores
$white: white;
$beige: beige;
$color-box: #d1cece;
$color-position-bg: chartreuse;
$color-position-text: brown;
$color-text-us-bg: aliceblue;

// Tamaños
$logo-width: 400px;
$logo-height: 300px;
$box-width: 350px;
$box-height: 300px;
$input-width: 195px;
$input-height: 30px;
$filters-width: 180px;
$filters-height: 25px;
$filters-width-items:145px;

// Otros
$margin-side: 120px;
$margin-box: 50px;
