/* ----------------------------------------Contiene imagenes de Vehiculos----------------------------------------*/
.box {
    text-align: center;
    background-color: $color-box;
    height: $box-height;
    width: $box-width;
    border: 2px solid black;
    border-radius: 2%;
    margin: $margin-box;
    padding: 15px;
}

.ingreso {
    position: relative;

    .position {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-position-bg;
    color: $color-position-text;
    font-size: small;
    font-weight: bold;
    padding: 5px;
    }
}
